.btn {
  padding: 6px 14px 10px;
  font-weight: 800;
  vertical-align: middle;
  border: 0px;
  user-select: none;
  appearance: none;
  text-decoration: none;
  transition: background-size 0.3s ease-in-out 0s;
  text-align: center;
  box-sizing: border-box;
  min-width: 64px;
  text-transform: none;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: white;
  flex: 1;
  font-size: 14px;
  display: flex;
}

.btn-primary {
  box-shadow:
    rgb(197, 106, 24) 0px -3px 0px 0px inset,
    rgb(255, 234, 47) 0px 2px 0px 0px inset;
  transition: background-size 0.3s ease-in-out 0s;
  background: linear-gradient(420deg,
      rgb(255, 206, 0) 0%,
      rgb(255, 206, 0) 49%,
      rgb(238, 175, 14) 49%,
      rgb(238, 175, 14) 100%) left center / 100% 100% no-repeat;
  -webkit-text-stroke: 1px rgb(197, 106, 24);
}

.btn-primary:hover {
  background-size: 300% 100%;
  box-shadow:
    rgb(197, 106, 24) 0px -3px 0px 0px inset,
    rgb(255, 234, 47) 0px 2px 0px 0px inset;
}

.btn-secondary {
  background-color: rgb(44, 40, 82);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn-secondary:hover {
  background: rgb(70, 62, 122);
}

header {
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10dvh;
  max-height: 10dvh;
}

header div.title-container h1.title {
  font-weight: bold;
  font-size: 1.5em;
}

header div.title-container {
  justify-content: center;
  flex: 1;
  align-items: center;
}

header div.user-action a {
  color: #fff;
  text-decoration: none;
}

header div.user-action {
  flex: 1;
  display: flex;
  justify-content: end;
}

.container {
  gap: 4px;
  display: flex;
  padding: 4px;
  border-radius: 16px;
  background-color: #090c1d;
}

main {
  margin: 10px 14px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 90vh;
}

main section#game-container {
  width: 100%;
  border-radius: 12px 12px 0 0;
  height: 100%;
  scrollbar-width: none;
  user-select: none;
  overflow: hidden;
  flex: 1;
}

main section.bet-control {
  display: flex;
  min-height: 20vh;
  border-radius: 0 0 12px 12px;
}

main section.bet-control div.section-controller {
  flex: 1;
  padding: 20px;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
}


main section.bet-control div.section-controller label {
  font-weight: 500;
  color: white;
  padding: 0px 12px;
}

main section.bet-control div.section-controller div#bet {
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: #171739;
  border-radius: 12px;
}

main section.bet-control div.section-controller div#bet input[name="bet"] {
  border: none;
  background-color: #171739;
  caret-color: white;
  display: inline;
  color: white;
  flex: 1;
}

main section.bet-control div.section-controller div#bet input[name="bet"]:focus {
  outline: none;
}

main section.bet-control div.section-controller div#bet img#bet-icon {
  height: 20px;
  filter: invert(1);
  margin-right: 8px;
}

.btn-group {
  display: grid;
  gap: 2px;
  margin: 10px 0;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.btn-level[selected=true] {
  background: rgb(120, 65, 238) !important;
}

.btn-group .btn-level {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  border-radius: 0;
  display: inline;
  margin: 0;
}

.btn-group .btn-level:first-child {
  border-radius: 6px 0 0 6px;
}

.btn-group .btn-level:last-child {
  border-radius: 0 6px 6px 0;
}


.btn-bet {
  margin: 10px;
}

@media (max-width: 768px) {
  main section.bet-control {
    flex-direction: column;
    overflow-y: scroll;
    text-align: center;
  }

  main section.bet-control div.section-controller {
    padding: 5px 20px;
  }

  main section.bet-control div.section-controller div#bet {
    margin: 5px 0px;
  }
}

@media (max-width: 1180px) {
  .btn-group {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .btn-group .btn-level:nth-child(1) {
    border-radius: 6px 0 0 0;
  }

  .btn-group .btn-level:nth-child(2) {
    border-radius: 0 6px 0 0;
  }

  .btn-group .btn-level:nth-child(3) {
    border-radius: 0 0 0 6px;
  }

  .btn-group .btn-level:nth-child(4) {
    border-radius: 0 0 6px 0;
  }

}

@media (max-height: 400px) {}